# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
.env
.venv
env/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# Pytest cache
.pytest_cache/

# macOS specific files
.DS_Store

# Shell script backup files
*.sh~

# Logs and databases commonly used with Python projects
*.log
*.sqlite

# If using PyCharm
.idea/

# If using VSCode
.vscode/
